/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-grey: #bfbfbf;
  --color-grey: #949494;
  --color-light-pink: #ffdada;
  --color-light-yellow: #fffec3;
  --color-olive-green: #5d9f40;
  --color-black: #000000;
  /* Font Size */
  --font-large: 40px;
  --font-medium: 22px;
  --font-regular: 15px;
  --font-small: 12px;
  --font-micro: 10px;
  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;
  /* Size */
  --size-border-radius: 4px;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Audiowide", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0px;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-olive-green);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-olive-green);
  margin: 8px 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-olive-green);
  margin: 8px 0px;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-olive-green);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-black);
  align-items: center;
  color: var(--color-olive-green);
  padding: 16px;
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.logo {
  position: relative;
  width: 75px;
  height: 75px;
  top: 7px;
  left: -10%;
}

.Myname {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  color: var(--color-olive-green);
  position: relative;
  top: -22px;
  left: -17%;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border: 1px solid var(--color-olive-green);
}

/* Home */
#home {
  background: url('img/Home_Background.png') center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.home__title {
  font-size: 30px;
  color: var(--color-olive-green);
}
.home__discription {
  color: var(--color-olive-green);
}

.home__contact_me {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  
  border-radius: var(--size-border-radius);
  color: var(--color-olive-green);
}
.home__contact_me:hover {
  border: 2px solid var(--color-olive-green);
}